body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

h1{
    text-align: center;
}

h2{
    font-size: 1.4em;
    text-align: center;
     margin-top: 12%;
}

/* main page */
/* logo */
.logo {
	text-align: center;
    width: 50%;
    margin: 3% 24% 3% 24%;
}

/* header color */
.header{
    background-color: #00D4FF;
}

/* main image (laptops) */
.laptop{width: 100%;
    margin-top: 10%;
}

/* text on the image */
.text-one{
    text-align: center;
    position: absolute;
    top: 13%;
    margin: 0 10% 0 10%;
    font-size: 1.3em;
}

.main-button{
    margin: 0 0 0 0;
}

/* button style */
.btn {
    text-align: center;
    border: 2px solid #00aaef;
    border-radius: 20px;
    background-color: white;
    color: black;
    padding: 14px 28px;
    font-size: 1em;
    cursor: pointer;
}

.btn:hover {
    background: #00aaef;
    color: white;
}

.div-button{
    text-align: center;
}

#naglasci{
    padding-top: 2%;
}

.hr-one{
    margin-top: 15%;
    margin-bottom: 15%;
}

/* border and fexbox slider style */
.solid {border-style: solid;
    border-width: thin;
    margin: 0 5% 0 5%; 
    border-radius: 2%;
    padding: 0 5% 0 5%;
}

.slider {
  margin: 0 0 0 0;
  width: 100%;
  height: auto;
  display: flex;
  overflow-x: auto;
}
.slide {
  width: 60%;
  flex-shrink: 0;
}

.slider2 {
    margin: 0 5% 0 0;
  width: 100%;
  height: auto;
  display: flex;
  overflow-x: auto;
}

.slide2{
    margin: 5% 5% 0 0;
     width: 50%;
     flex-shrink: 0;
}


/* flex container */
.flex-container {
  display: flex;
  flex-direction: row;
    
}

.flex-container > div {
  width: 100%;
  margin: 2%;
    padding: 2%;
}

.flex-container > img {
  width: 100%;
  margin: 2%;
    padding: 2%;
}


/* fontawsome icon style and text style*/
.gem-text{
    line-height: 160%;
}

.gem-text1{
    float: left;
    margin: 0 5% 0 0;
}

.gem{
    font-size: 135%;
    color: #00aeef;
}


.ft{
    font-weight: bold;
}

.feature-text{
    margin: 0 5% 0 5%;
    text-align: left;
}

.feature-text3{
    margin: 0 0 0 0; 
    padding: 0 0 0 0;
}

.middle{
    margin: 10% 0 10% 0;
}

/* Slideshow container 
.slideshow-container {
  width: 100%;
  position: relative;
  margin: auto;
}*/

/* Fading animation 
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s; }

@-webkit-keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }
@keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }

.graf-img{
    width: 100%;
}*/

/* price table style */
.table{
    margin-top: -5%;
    width: 100%;
}

/* subscribe text style */
.sub-text{ 
    padding: 0 5% 0 5%;
    text-align: center;
}

/* form */
.form {
  margin: 8% 3% 5% 0;
  text-align: justify;
  font-size: 1em; 
}

.email {
  margin-left: 0; }

input {
  padding: 14px 20px;
  border-radius: 20px; 
}

/* button for subscribe */
.button{
     text-align: center;
    border: 2px solid #00aaef;
    border-radius: 20px;
    background-color: white;
    color: black;
    padding: 14px 20px;
    font-size: 1em;
    cursor: pointer;
    margin: 15px 0 0 0;
}

/* footer */
footer{
    background-color: #00D4FF;
}

footer p {
    margin: 0%;
    font-size: 0.9em;
    text-align: center;
    color: white;
    margin: 0 5% 0 5%;
}

    /* grid side by side */
    .grid-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .grid-container div {
        border: 1px;
    }

    .grid-container {
        border: 1px;
        width: 100%;
    }

.fp{
    text-align: left;
    margin: 5% 0 8% 12%;  
 }

/* social media */
.social-btn{
    font-size: 120%;
}

a{
    text-decoration: none;
    color: white;
}

ul{
    list-style-type: none;
    text-align: right;
    margin: 5% 12% 0 0;
}

.copy{
    font-size: 0.7em;
    padding-bottom: 2%;
}

.mob-nav{
    display: flow-root;
}

.tablet-nav{
    display: none;
}

  .mob-one{
        display: flow-root;
    }
    
    .tablet-one{
        display: none;
    }


/* about page */
#wrapperr{
    margin: 0 3% 0 3%;
}

/* fontawsome style */
.globe{
    text-align: center;
    font-size: 4em;
    color: #00aeef;
}

.about-div2{
    text-align: center;
}

.about-text{
    text-align: center;
    margin: 0 4% 0 4%;
    line-height: 130%;
}

.price-btn{
    margin-top: 8%; 
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* line style */
.about-hr{
    width: 70%;
    margin-top: 8%;
    margin-bottom: 8%;
}

/* footer */
.about-footer{
    margin-top: 8%;
}

.about-tablet{
    display: none;
}


/* ---------768px  The tablet breaking point -------- */

@media only screen and (min-width: 768px) {
    
    #wrapperr{
       margin: 0 5% 0 5%; 
    }
    
    .mob-nav{
        display:none;
    }
    
    .tablet-nav{
    display: flow-root;
    }
    
    .mob-one{
        display: none;
    }
    
    .tablet-one{
        display: flow-root;
    }
    
    /* main page */
    h2{
        margin-top: 10%; 
    }
    
    /* nav grid */
    nav{
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
    
    /* header img and style */
        header img {
      max-width: 70%;
      margin-left: 0;
      padding-top: 2%;
      margin-bottom: 5%;       
    }
    
    header a {
      text-decoration: none;
      color: white; 
    }
    
    header a:hover {
      color: blue; 
    }
    /* nav style */
    .parent-ul {
    display: flex;
    justify-content: space-around;
    font-size: 1em;
    margin: 1% 4% 0 0;
        font-weight: bold;
    }
    
    /* Sub Menu */
    .parent-ul li {
      padding: 3%; 
    }
    
    .parent-ul li.parent ul.child {
        display: none;
    }
   
    /* text style next to the img */
    .text-one{
    text-align: left;
    position: relative;
    font-size: 1.5em;
        line-height: 160%;
    }
    
    .lap-main{
        margin-top: 2%;
    }
    
    /* laptop img */
    .laptop{
        position: relative;
        margin: 0 0 0 0;
        height: auto;
    }
    
    /* button */
    .btn-one {
    margin: 15% 0 0 10%;
}
    
    
    /* button Animation */
.btn{
    cursor: pointer; 
    display: inline-block;
    position: relative; 
    transition: 0.5s;
}

.btn:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
    color: white;
}

.btn:hover{
    padding-right: 25px;
    color: white;
  }
  
  .btn:hover {
    opacity: 1;
    right: 0;
  }
    
    .gem{
        font-size: 2em;
    color: lightgray;
}
    .gem:hover{
        color: #00aeef
    }
    
    /* border and slider style */
 .solid {border-style: solid;
    border-width: thin;
    margin: 0 0 0 5%; 
    border-radius: 2%;
}
    .slider {
  margin: 0 0 0 0;
  width: 100%;
  height: auto;
  display: flex;
  overflow-x: auto;
}
.slide {
  width: 35%;
  flex-shrink: 0;
  height: auto;
    margin-bottom: 2%;
}
    
    .feature-text1{
    text-align: left;
}
    #features2{
        margin: 0 0 0 0;
        padding: 0 0 0 0;
    }
    
    #features1{
        margin: 0 0 0 0;
        padding: 0 0 0 0;
    }
     
    .features{
        margin: 0 25% 0 25%; 
        text-align: left;
    }
    
    /* features img style */
    .phone{
        width: 100%;
    }
    
    
    .hr-one{
        margin-top: 5%;
        margin-bottom: 5%;
    }
    
    /* price table style */
    .slider2 {
  margin: 0 0 0 -50%;
  padding: 0 100% 0 0;        
  width: 100%;
  display: flex;
  overflow-x: auto;
}

.slide2{
    margin: 15% 10% 10% 0;
     width: 60%;
     flex-shrink: 0;
}
    
    /* line style */
    hr{
        width: 50%;
    }
    
    
    /* price table zoom on */
    .zoom:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1); 
}
    
    /* slideshow 
    .slideshow-container {
  width: 50%;
  position: relative;
  margin: auto;
}*/
    
    /* form and input style */
    .form {
  margin: 8% 0 5% 0;
  text-align: left;
  font-size: 1em; 
}

.email {
  margin: 0 0 0 -10%;
    width: 150%;
    }  
    
input {   
    text-align: left;
}

    .sub-text{
        margin: -3% 0 0 0;
    }    

    /* button-subscribe */
.button{
     text-align: center;
    border: 2px solid #00aaef;
    border-radius: 20px;
    background-color: white;
    color: black;
    margin: 7% 0 0 35%;
    font-size: 1em;
    cursor: pointer;
    padding: 14px 28px;
}
    
.button:hover {
    background: #00aaef;
    color: white;
}   
    /* grid for footer and header */
       .grid-container1 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .grid-container1 div {
        border: 1px;
    }

    .grid-container1 {
        border: 1px;
    }
    
    /* footer */
    .fp{
    text-align: left;
    margin: 5% 0 8% 12%;  
 }

    /* social media */
.social-btn{
    font-size: 120%;
}
    
    .fp{
    text-align: center;
    margin: 5% 0 8% 0;  
 }

    .social-buttons{
        margin: 5% 0 0 40%;
    }
 
    /* felxbox */
   .flex-container1 {
  display: flex;
  flex-direction: row;
    
}

.flex-container1 > li {
    width: 20%;
    font-size: 1.4em;
}
    
    #main-price{
        margin-top: 10%;
    }
    
    .price{
     margin-bottom: -2%;
    }

    /* about page */
    
        .grid-container3 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .grid-container3 section {
        border: 1px;
    }
    
     .grid-container3 div {
        border: 1px;
    }

    .grid-container3 {
        border: 1px;
        width: 100%;
    }
    
    /* line to apper in tablet and desktop version */
    .about-tablet{
        display: flow-root;
        margin-top: 4%;
        margin-bottom: 2%;  
        width: 75%;
    }
  
    /* fontawsome style */
    
    .globe{
        font-size: 10em;
        margin: 5% 0 0 0;
        color: lightgray;
    }
    
    .globe:hover{
        color: #00aeef;
    }
    
    /* styling the text and img */
    .about-section{
        margin: 0 0 2% 0;   
    }
    
    .h2-tablet{
        text-align: left;
    }
    
    .about-text{
         text-align: left;
        margin: 0 0 0 0;
    }
    
    .about-s{
         padding: 0 7% 0 0;
    }
    
    
}

/* ---------1200px  The tablet breaking point -------- */

@media only screen and (min-width: 1200px) {
    
        h2{
            font-size: 1.6em;
            font-weight: bold;
        margin-top: 8%; 
    }
    
    /* header img logo */
        header img {
      max-width: 45%;      
    }
    
    /* nav style */
    .parent-ul {
    font-size: 1.1em;
    }
    
    /* front text and img style */
        .text-one{
    margin: 0 25% 0 0;
    font-size: 1.8em;
        line-height: 180%;
    }

    .laptop{
        height: auto;
        width: 100%;
    }
    
    .slider {
  margin: 0 0 0 -20%;
    padding: 0 35% 0 0;     
}
    
    #main-naglasci{
        margin-top: -3%; 
    }
    
    .price{
       margin-top: -3%;  
    }
    
    /* button */
    .btn-one {
    margin: 12% 0 0 0;
}
    
    #naglasci{
        margin: 0 12% 0 12%;
    }
    
    /* feature styleing */
    
    .feature-text1{
    text-align: left;
    margin: 0 0 0 0;
    padding: 0 0 0 0;    
}
    
        .features-text1{
    padding: 0 0 0 0;    
}
            .features-text2{
    padding: 0 10% 0 0;
}
    /* feature img style */
    .phone{
        width: 70%;
    }

.slide2{
    margin: 15% 10% 10% 0;
     width: 45%;
     flex-shrink: 0;
}
    
    /* slideshow 
    .slideshow-container {
  width: 40%;
}*/
    /* form and input style */
    .form {
  margin: 2% 0 0 0;   
}

    /* subscribe button */
.button{
    margin: 1% 0 0 10%;
    padding: 14px 28px;
}

    /* social media */
.social-btn{
    font-size: 140%;
}
    /* footer */
    .fp{
    text-align: center;
    margin: 5% 0 8% 0;
        font-size: 1em;
        line-height: 200%;
 }

    .social-buttons{
        margin: 5% 0 0 40%;
    }

    /* flexbox */
.flex-container1 > li {
    width: 15%;
    font-size: 1.4em;
}
    
     /* about page */
    
    h1{
        font-size: 1.8em;
        margin-top: 5%;
    }
    
    #wrapperr{
        margin: 0 10% 0 10%;
    }
    
    
    /* line to apper in tablet and desktop version */
    .about-tablet{
        display: flow-root;
        margin-top: 4%;
        margin-bottom: 2%;  
        width: 75%;
    }
  
    /* styling the text and img */
     .about-one1{
        padding: 0 12% 0 0;
    }
    
    .about-div{
        margin: 10% 0 -5% 0;
    }
    
    .about-s{
        padding: 0 10% 0 15%;
    }
    
    .about-s3{
        margin: 0 0 0 -8%;
    }
    
    .about-s2{
        margin: 0 0 0 12%;
    }
    
}